@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
	background: #000000;
}

.wrapper .header{
	width: 100%;
	height: 50px;
	background: #111111;
    box-shadow: 0 .5rem 1.5rem rgba(236, 234, 100, 0.649);
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
}

.cards_wrap{
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.cards_wrap .card_item{
	padding: 15px 25px;
	width: 25%;
}

.cards_wrap .card_inner{
	background: rgb(2, 2, 2);
	border-radius: 5px;
    border: solid 1px whitesmoke;
    box-shadow: 1rem 1rem 1rem rgba(156, 156, 60, 0.597);
	padding: 35px 20px;
	min-width: 225px;
	min-height: 315px;
	max-height: 370px;
	width: 100%;
}
.cards_wrap .card_inner:hover{
    transform: scale(1.02);
}

.cards_wrap .card_item img{
	width: 100px;
	height: 80px;
	margin-bottom: 5px;
}

.cards_wrap .card_item .book_name{
	color: #e36686;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 10px;
}

.cards_wrap .card_item .about{
	font-size: 14px;
	line-height: 24px;
	color: #7b8ca0;
}
.back-btn{
    text-align: center;
    margin-top: 20px;
    margin-left: -40px;
}
.btn{
    background-color: #030303;
    border: solid 2px whitesmoke;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: #e1e0e0;
    color: rgb(53, 50, 50);
    transition: 0.5s;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(244, 241, 76, 0.637);
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 50%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 100%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}