@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  background-color: #000000;
}
.header{
    padding:2rem 18%;
    position: fixed;
    text-decoration: none;
    top:0; left: 0; right: 0;
    z-index: 1000;
    text-transform: uppercase;
    box-shadow: 0 .5rem 1.5rem rgba(236, 234, 100, 0.649);
    display: flex;
    justify-content: space-between;
    background: rgb(3, 3, 3);
}
.navbar{
  align-items: center;
  margin-left: 100px;
}
.header .navbar a{
    padding: 14px;
    text-align: center;
    font-size: 500;
    margin-left: 3.5rem;
    color: rgb(237, 232, 232);
    text-decoration: none;
}

.header .navbar a:hover{
    color: rgba(235, 206, 65, 0.815);
    animation: forwards;
    text-decoration: underline 2px rgb(210, 198, 127);
}
.home{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
}
.home .content{
    text-align: center;
    flex:1 1 45rem;
    color: whitesmoke;
    font-weight: bolder;
    font-size:x-large;
}
.btn{
    display: inline-block;
    margin-top: 5px;
    padding: 1px;
    text-decoration: none;
    padding-left: 20px;
    border:2px solid rgb(163, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba(163, 163, 159, 0.49);
    color:white;
    cursor: pointer;
    font-size: 16px;
    background: rgb(110, 107, 107);
}

.btn span{
    padding:.7rem 1rem;
    border-radius: 1rem;
    background: rgba(110,107,107);
    margin-left: .5rem;
}

.btn:hover{
    color:rgba(230, 238, 122, 0.504);
}

.btn:hover span{
    color: rgb(8, 8, 8);
    background:rgba(1, 1, 1, 0);
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}
.box-container .card_item {
    width: 30%;
    margin-top: 35px;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
  }
  .box-container .card_inner {
    background: rgb(3, 3, 3);
    border: 3px solid rgb(251, 251, 251);
    border-radius: 25px;
    height: 250px;
    width: 390px;
    box-shadow: 1rem 1rem 1rem rgba(156, 156, 60, 0.597);
  }
  
  .box-container.card_bottom {
    padding: 15px;
    text-align: center;
    font-size: smaller;
  }
  
  .box-container.card_bottom {
    text-transform: uppercase;
    text-align: center;
    background-color: antiquewhite;
  }
  
  .box-container.card_bottom .card_info {
    padding: 15px;
    background-color: rgb(229, 135, 11);
    margin: 10px 0;
    border: 1px solid#000000;
  }
  
  .box-container.card_bottom .card_info{
    color: #eae3e3e3;
    text-transform: uppercase;
    font-size: 23px;
    margin-bottom: 2px;
    margin-top: -3px;
  }
  .box-container .card_bottom  {
    text-align: center;
  }
  .box-container .card_top{
    margin-top: 20px;
    border-radius: 20px;
  }
img{
    border-radius: 50%;
}
.card_info{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
h3{
    font-size: larger;
    font-weight: bolder;
}
.work-process .content{
  text-align: center;
  color: whitesmoke;
}
.work-process .content h3{
  font-family:'Times New Roman', Times, serif;
}
.work-process .content p{
  font-size: large;
}
.box-container1{
  display: grid;
  gap: 1rem;
  color: whitesmoke;
  margin-left: 255px;
  grid-template-columns: repeat(auto-fit, minmax(200px , 150px));
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.details .card_info{
  background: rgb(236, 233, 233);
  border: 3px solid rgb(108, 125, 41);
  border-radius: 25px;
  box-shadow: 1rem 1rem 1rem rgba(156, 156, 60, 0.597);
  height: 120px;
  width: 150px;
}
.details .card_info h3{
  background: rgb(236, 233, 233);
  color: black;
}
.details .card_info p{
  background: rgb(236, 233, 233);
  color: black;
}
.creator{
  display: inline;
  float: inline-end;
  position: absolute;
}
@media screen and (max-width: 1024px){
	.box-container.card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.box-container .card_item{
		width: 50%;
	}
 .header{
		font-size: 16px;
		height: 60px;
	}
}

@media screen and (max-width: 568px){
	.box-container.card_item{
		width: 100%;
	}
  .header{
		font-size: 14px;
	}
}
